body {
 font-family: Arial, sans-serif;
 background: #fefefe;
 width: 900px;
 margin: 0 auto;
}

/* LINKS */
a:link {
 color: blue;
 text-decoration: none;
}

a:hover {
 text-decoration: underline;
}

/* PAGE PANEL LAYOUT */
#chart {
 position: relative;
}

#as-viz {
 position: absolute;
 top: 90px;
 width: 100%;
}

#title {
 position: absolute;
 font-size: 30px;
 font-weight: 100;
 top: 20px;
}

#info {
 position: absolute;
 font-size: 11px;
 top: 18px;
 width: 300px;
 right: 0px;
 line-height: 1.2;
}

#as-menu {
 font-size: 12px;
 padding: 5px;
}

#as-menu div {
 display: inline-block
}

#as-menu option {
 font-size: 12px
}

#as-graphs {
 width: 100%;
 height: 500px;
 position: relative;
}

#as-pathtopo, #as-iflist, #as-astopo, #as-svrlist, #as-pathopt {
 position: absolute;
}

#as-pathopt {
 font-size: 12px;
 width: 900px;
 height: 50px;
 padding: 5px;
 border: 1px solid #ccc;
}

#as-pathtopo {
 width: 700px;
 height: 400px;
 top: 90px;
 border: 1px solid #ccc;
}

#as-astopo {
 width: 600px;
 height: 450px;
 border: 1px solid #ccc;
}

#as-iflist {
 width: 200px;
 height: 400px;
 top: 90px;
 left: 700px;
 padding-left: 10px;
 border: 1px solid #ccc;
}

#as-svrlist {
 width: 290px;
 height: 450px;
 left: 600px;
 padding-left: 10px;
 border: 1px solid #ccc;
}

#as-trclist {
 width: 900px;
 height: 450px;
 padding-left: 10px;
 border: 1px solid #ccc;
 overflow: scroll;
 overflow-x: hidden;
}

#as-crtlist {
 width: 900px;
 height: 450px;
 padding-left: 10px;
 border: 1px solid #ccc;
 overflow: scroll;
 overflow-x: hidden;
}

#as-trclist h2 {
 font-size: 18px;
 margin: 4px;
}

#as-crtlist h2 {
 font-size: 18px;
 margin: 4px;
}

/* AS TOPOLOGY DATA LIST */

#as-svrlist {
 font-size: 12px;
 overflow: scroll;
 overflow-x: hidden;
}

#as-svrlist table {
 font-size: 12px;
}

#as-svrlist table th#key {
 width: 120px
}

#as-svrlist table th#value {
 width: 120px
}

#as-svrlist h2 {
 font-size: 14px;
 margin: 4px;
 text-align: center
}

#as-svrlist tr:hover {
 cursor: pointer;
 background: lightgray;
}

#as-svrlist tr {
 opacity: 1
}

/* PATH TOPOLOGY DATA LIST */

#as-iflist {
 font-size: 12px;
 overflow: auto;
 overflow-x: hidden;
}

#as-iflist h2 {
 font-size: 14px;
 margin: 4px;
 text-align: center
}

/* OPEN/CLOSE LISTS */

li.seg-type {
 font-weight: bold;
}

ul {
 padding-left: 1.2em;
}

ul.tree li {
 list-style-type: none;
 position: relative;
}

ul.tree li ul {
 display: none;
}

ul.tree li.open>ul {
 display: block;
}

ul.tree li a {
 color: black;
 text-decoration: none;
}

ul.tree li a:before {
 height: 1em;
 padding: 0 .1em;
 font-size: .8em;
 display: block;
 position: absolute;
 left: -1.3em;
 top: .2em;
}

ul.tree li > a:not(:last-child):before {
 content: '+';
}

ul.tree li.open > a:not(:last-child):before {
 content: '-';
}

/* AS TOPOLOGY GRAPH */
.link.as-peer {
 fill: "none";
 stroke: gray;
 stroke-width: 3px;
 stroke-dasharray: 5, 5;
 opacity: 0.50;
}

.link.as-core, .link.as-routing {
 fill: "none";
 stroke: gray;
 stroke-width: 6px;
 opacity: 0.50;
}

.link.as-parent, .link.as-child {
 fill: "none";
 stroke: gray;
 stroke-width: 3px;
 opacity: 0.50;
}

.link.as-in {
 /* invisible internal AS links */

}

/* G-MAP LOCATIONS */
#g-map {
 position: absolute;
 width: 100%;
 height: 100%;
}

/**
 * ------------------------------- Tabs --------------------------------
 */
#tabs {
 font-size: 14px;
}

.tabs li {
 list-style: none;
 display: inline;
}

.tabs a {
 padding: 5px 10px;
 display: inline-block;
 background: #666;
 color: #fff;
 text-decoration: none;
 border: 1px solid #66CCFF;
}

.tabs a.active {
 background: #fff;
 color: #000;
 font-weight: bold;
}
